<section class="signup-form">
    <form #f=ngForm (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">

        <mat-form-field>
            <input 
                email
                required
                ngModel 
                name="email" 
                type="email" 
                matInput 
                placeholder="Your email"
                #emailInput="ngModel"/>
            <mat-error *ngIf="emailInput.hasError('required')">Field must be not empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be at least 6 characters long">
            <input 
                required
                minlength="6"
                ngModel 
                name="password" 
                type="password" 
                matInput 
                placeholder="Your password"
                #pwInput="ngModel"/>
            <mat-hint align="end"> {{ pwInput.value?.length }} / 6</mat-hint>
            <mat-error>Has to be at least 6 characters long</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                ngModel
                name="birthdate"
                required
                matInput 
                [matDatepicker]="picker" 
                [max]="maxDate"
                placeholder="Your birthdate">
            <mat-datepicker-toggle 
                matSuffix 
                [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox ngModel name="agree" required color="primary">Agree To terms and conditions</mat-checkbox>

        <button *ngIf="!(isLoading$ | async)" [disabled]="f.invalid" type="submit" mat-raised-button color="primary">Submit</button>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
    </form>
</section>